@model PagedList<CommunityBackend.Models.Merchant>
@using Webdiyer.WebControls.Mvc;
@using CommunityBackend.Models;

@{
    Layout = "~/Views/Shared/_layoutForFrame.cshtml";
    ViewBag.Title = "商家管理搜索结果";

    List<CommunityBackend.Models.ServiceType> stl = ViewBag.ServiceTypes;   
}

@Html.Partial("_SearchTable", Model)

<h2>搜索结果</h2>

@Html.Partial("_MerchantTable", Model)

<div class="text-right">
    @Html.Pager(Model).Options(o => o.SetPageIndexParameterName("id").SetPagerItemTemplate("{0}&nbsp;"))
</div>

<div>
    @Html.ActionLink("返回目录", "Index")
</div>
