<p><script src="/Scripts/jquery-1.10.2.js"></script></p>

<table width="100%" border="1">
    <tr>
        <th scope="col"><div id="All_result"></div></th>
    </tr>
</table>

<table width="1500" border="1">
    <tr>
        <td>功夫人2.0接口</td>
    </tr>
    <tr>
        <td>
            @Html.Partial("Test_Craftman2")
        </td>
    </tr>
</table>
