<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CommunityBackend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="CommunityEntities" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=Community;Integrated Security=True;" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=CommManage;Integrated Security=True;" />
  </connectionStrings>
  <applicationSettings>
    <CommunityBackend.Properties.Settings>
      <setting name="RepairRadius" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="TempFolder" serializeAs="String">
        <value>/App_Data/Temp</value>
      </setting>
      <setting name="AudioFolder" serializeAs="String">
        <value>/Audio</value>
      </setting>
      <setting name="HeadImgFormats" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.jpg</string>
            <string>.jpeg</string>
            <string>.gif</string>
            <string>.png</string>
            <string>.ico</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="IdenCodeAlive" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="StoreRadius" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="StoreSearchRadius" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="SMSURL" serializeAs="String">
        <value>http://222.73.117.158/msg/HttpBatchSendSM</value>
      </setting>
      <setting name="SMSAccount" serializeAs="String">
        <value>zehoutz</value>
      </setting>
      <setting name="SMSPassword" serializeAs="String">
        <value>Tch452729</value>
      </setting>
      <setting name="SMSTemplate" serializeAs="String">
        <value>您好，您的验证码是{0}</value>
      </setting>
      <setting name="RepairFairCloseHour" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="ServiceImageFolder" serializeAs="String">
        <value>/ServiceHead</value>
      </setting>
      <setting name="TopAPI_URL" serializeAs="String">
        <value>http://gw.api.taobao.com/router/rest</value>
      </setting>
      <setting name="TopAPI_AppKey" serializeAs="String">
        <value>23313377</value>
      </setting>
      <setting name="TopAPI_AppSecret" serializeAs="String">
        <value>db886e0d312d509a2bbd3f176bb8c5ea</value>
      </setting>
      <setting name="QQAPI_AppID" serializeAs="String">
        <value>1105115534</value>
      </setting>
      <setting name="WeiXinSaleNotifyBaseUrl" serializeAs="String">
        <value>http://115.29.115.135/api/Pay/</value>
      </setting>
      <setting name="RepairCommissionPercent" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="DayCntOfToRemoveRepairOrder" serializeAs="String">
        <value>2</value>
      </setting>
    </CommunityBackend.Properties.Settings>
  </applicationSettings>
</configuration>
<!--ProjectGuid: 7D7AF179-99D8-4EB5-95A9-CE354D83550C-->