@using Webdiyer.WebControls.Mvc;
@model PagedList<CommunityBackend.Models.CraftBBSPost>

@{
    Layout = "~/Views/Shared/_layoutForFrame.cshtml";
    ViewBag.Title = "手艺人帖子搜索结果";
}

@Html.Partial("_SearchTable", Model)

<h2>手艺人搜索结果</h2>

@Html.Partial("_IndexTable", Model)

<div class="text-right">
    @Html.Pager(Model).Options(
        o => o.SetPageIndexParameterName("id").SetHorizontalAlign("right").SetPagerItemTemplate("&nbsp;{0}")
    )
</div>

<div>
    @Html.ActionLink("返回目录", "Index")
</div>
