@using CommunityBackend.Models;

@using (Html.BeginForm("Search", "EstateNotices", new RouteValueDictionary { { "id", "" }, { "area", "estate" } }, FormMethod.Get))
{
    <div class="well well-sm">
        <div class="form-group">
            <span>标题关键字：</span>
            <input type="text" name="kword" value="@Request.QueryString["kword"]" />
        </div>

        <div class="form-group">
            @Html.DropDownList("EstateNoticeType", EnumHelper.GetSelectList(typeof(EstateNoticeType)), "全部类型", new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="submit" value="搜索(S)" accesskey="S" class="btn btn-default" />
        </div>
    </div>
}